<div class="login_page">
    <div class="cantainer">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h1>Login Please..</h1>
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                        
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" ngModel name="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="exampleInputEmail1" required aria-describedby="emailHelp"
                                        >
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" ngModel name="password" id="exampleInputPassword1" required >
                                </div>
                            </div>
                            
                            <div class="col-12 mt-3">
                                <div class="form-group">
                                    <label for="roleId">Role</label>
                                    <select class="form-control" ngModel name="role" required>
                                        <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                       
                        <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>